@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.specialchar {
    font-size: 30px;

}

.storage {

    color: grey;
}

.error {
    color: red;
    text-align: center;
}

.labelclass {
    width: 50%;
    text-align: right;
    font-family: Roboto;
    font-size: 20px;

}

.googleclass {
    text-align: right;
}

.inputclass {
    width: 300px;
    height: 40px;
    background-color: #f1f2ef;
    font-family: Roboto;
    font-size: 16px;
    border-width: 0px;
    border-radius: 4px;

}

.credentials {
    background-color: #ababa9;
}

.button {
    font-family: Roboto;
    font-size: 20px;
    background-color: #19a4f5;
    border-width: 0px;
    border-radius: 4px;
    width: 120px;
    height: 50px;
}

.cancelbtn {
    width: 200px;
}
